<head>
  <meta charset="utf-8"/>
  <title>{{ title }}</title>

  <!--/ MY NAME IS PAUL ANTHONY WEBB. I *AM* THE INTERNET.
             ___ ._______._______ ._______
    .___    |   |: .____/: __   / : __   /
    :   | /\|   || : _/\ |  |>  \ |  |>  \
    |   |/  :   ||   /  \|  |>   \|  |>   \
    |   /       ||_.: __/|_______/|_______/
    |______/|___|   :/
            :
    //////// 0111011101100101011000101100010
    // https://twitter.com/NetOpWibby/status/569934296036872192

    // Commission of The Most Fantabulous (me) riding a Dragonair in space, is by Holly Sullo.
    // https://www.instagram.com/p/BWIHVbCA5Hg
    // If you decide to steal and claim as your own, you are *officially* a hoe-ass bitch. Don't do that. Respect yourself. Bitch.
    // I will also expose you for the fraud you are. Anything you can do, I can do petty.

    // Background is of the Carina Nebula and was shot by Bastien Foucher. Here's the NASA link:
    // https://apod.nasa.gov/apod/ap170815.html

    // My life goal is to be mentioned in the same paragraph as Vint Cerf and Tim Berners-Lee. I got stuff cooking.

  /-->

  <meta name="author" content="ポール △ ウェッブ"/>
  <meta name="description" content="Space Bandit / Aries / Protogenoi / Eccentric Dreamer / Pluviophile / Futurist / Musician"/>
  <meta name="keywords" content=""/>
  <meta name="title" content="{{ title }}"/>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover"/>

  <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png"/>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Titillium:200,400,700"/>
  <link rel="stylesheet" href="/css/style.css"/>

  <script src="/scripts/vendor/zepto.js"></script>
</head>
