<figure class="portrait-wrap">
  <img class="portrait" src="/images/holly-sullo-commission.png" alt="Commission of The Most Fantabulous riding a Dragonair in space, by Holly Sullo"/>
</figure>

<ul class="dope-links inner-wrap">
  <li class="dope-link">
    <span>My blog</span>
    <a href="https://thewebb.blog" title="My personal blog.">theWebb.blog</a>
  </li>

  <li class="dope-link">
    <span>My company</span>
    <a href="https://inc.sh" title="A holding company (LLC) I created for all my various ideas and endeavors.">!NC</a>
  </li>

  <li class="dope-link">
    <span>My clothing</span>
    <a href="https://weom.space" title="An excellent space-centric clothing brand I launched.">WEÖM</a>
  </li>

  <li class="dope-link">
    <span>My design</span>
    <a href="https://dsgn.io" title="My design studio.">DSGN*</a>
  </li>

  <li class="dope-link">
    <span>My music</span>
    <a href="http://frsh.fm" title="A collection of music I make under the aliases, 'the Wibby' and, 'Spaceman Fresh'.">FRSH&times;BTS</a>
  </li>

  <li class="dope-link">
    <span>My OS</span>
    <a href="https://hikar.io" title="An open-source operating system.">hikari</a>
  </li>
</ul>
